@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared Styles */

/* Colors */
/* Dark01 */
.text-gray01 {
  color: #131313;
}

/* Dark02 */
.text-gray02 {
  color: #424242;
}
/* Dark03 */
.text-gray03 {
  color: #727272;
}
.bg-light {
  background: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  padding: 20px 25px;
  border: none;
  background-color: #ff900e;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 8px;
}

.display-flex {
  display: flex;
}
/* Header Styles */

/* Navbar Related Styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* Banner Related Styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 1rem;
  font-weight: normal;
  line-height: 26px;
  color: #727272;
  margin-bottom: 32px;
}
.banner-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 45px;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }
}
